
.title{
  font-family: 'Sanchez', serif;
  letter-spacing:2px;
  color:red;
  font-weight: 800;
}


.jumbotron{
  padding: 10px;
}

#count-down{
  font-family:Bangers;
  font-size:25px;
  letter-spacing:2px;
  color:red;
}

#score{
  font-family:Bangers;
  font-size:25px;
  letter-spacing:2px;
  color: black;
}

.instructions, .display{
  font-family:'Josefin Slab', serif;
  font-size: 20px;
  font-weight: 600;
}
